#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%-5level] %msg%n"/>
		</Console>
		<!--<File name="File" fileName="benchmark-log4j2.txt" immediateFlush="true" append="true">-->
			<!--<PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
		<!--</File>-->
	</Appenders>
	<Loggers>
		<Root level="DEBUG">
			<!--<AppenderRef ref="File" />-->
			<AppenderRef ref="Console"/>
		</Root>
		<Logger name="org.apache.commons" level="OFF"/>
		<Logger name="org.thymeleaf" level="OFF"/>
	</Loggers>
</Configuration>